name = "{{worker_name}}"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# modify `bucket_name`
# don't modify the `binding`
r2_buckets = [
    {binding = "R2_BUCKET", bucket_name = "{{bucket_name}}"}
]
